<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Overall Evaluation</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #userForm="ngForm" *ngIf="!submitted" (ngSubmit)="onSubmit()" novalidate>

            <!-- Name input  -->
            <div class="form-group">
                <label> Name </label>
                <input type="text" required #name="ngModel" [class.is-invalid]="name.invalid && name.touched"
                    class="form-control" name="name" [(ngModel)]="userModel.name">
                <small class="text-danger" [class.d-none]="name.valid || name.untouched"> Name is required </small>
            </div>

            <!-- Rating input  -->
            <div class="row custom-radio-buttons">
                <div *ngFor="let iconObject of icons" class="col-4 text-center">
                    <fa-icon [icon]="iconObject.icon"
                        [ngClass]="[iconObject.iconName == model.selectedIcon.iconName ? 'selected' : '', iconObject.iconName]"
                        (click)="selectIcon(iconObject)">
                    </fa-icon>
               
                </div>
            </div>

            <!-- Comment input  -->
            <div class="row">
                <div class="col-12">
                    <textarea class="form-control" rows="3" maxlength="{{ model.comment.maxLength }}"
                        [(ngModel)]="model.comment.value" name="comment" [(ngModel)]="userModel.comment"
                        placeholder="Thank you for your participation! Remember to say thank you to your teachers if you liked them!"
                        ></textarea>
                    <div class="text-right">
                        <span
                            class="current-character-count">{{ model.comment.value ? model.comment.value.length : 0 }}</span>
                        <span class="separator"> / </span>
                        <span class="max-character-count">{{ model.comment.maxLength }}</span>
                    </div>
                </div>
            </div>

            <!-- Submission button  -->
            <button [disabled]="userForm.form.invalid" class="btn btn-primary" type="submit"> Submit </button>

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>



<button class="btn btn-outline-primary mb-2 mr-2" (click)="openBackDropCustomClass(content)">Create Review</button>